@model WebCode.Models.Demanda
@{
    ViewData["Title"] = "Cadastrar Nova Demanda";
}

<h2>@ViewData["Title"]</h2>

<h4>Demanda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Origem" class="control-label"></label>
                <input asp-for="Origem" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TipoDemanda" class="control-label"></label>
                <input asp-for="TipoDemanda" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProcessoOrigem" class="control-label"></label>
                <input asp-for="ProcessoOrigem" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NumeroProa" class="control-label"></label>
                <input asp-for="NumeroProa" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DataInicial" class="control-label"></label>
                <input asp-for="DataInicial" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Prazo" class="control-label"></label>
                <input asp-for="Prazo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DataFinal" class="control-label"></label>
                <input asp-for="DataFinal" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default"/>
            </div>

        </form>
    </div>
</div>

