@model WebCode.Models.ViewModels.DemandaFormViewModel
@{
    ViewData["Title"] = "Edição da Demanda";
}

<hr />

<h3>@ViewData["Title"]</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Demanda.Id" />
            <div class="form-group">
                <label asp-for="Demanda.Numero" class="control-label"></label>
                <input asp-for="Demanda.Numero" class="form-control" />
                <span asp-validation-for="Demanda.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demanda.Data" class="control-label"></label>
                <input asp-for="Demanda.Data" class="form-control" />
                <span asp-validation-for="Demanda.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demanda.OrigemId" class="control-label"></label>
                <select asp-for="Demanda.OrigemId" asp-items="@(new SelectList(Model.Origens,"Id","Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Demanda.TipoDemanda" class="control-label"></label>
                <input asp-for="Demanda.TipoDemanda" class="form-control" />
                <span asp-validation-for="Demanda.TipoDemanda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demanda.ProcessoOrigem" class="control-label"></label>
                <input asp-for="Demanda.ProcessoOrigem" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Demanda.Descricao" class="control-label"></label>
                <input asp-for="Demanda.Descricao" class="form-control" />
                <span asp-validation-for="Demanda.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demanda.NumeroProa" class="control-label"></label>
                <input asp-for="Demanda.NumeroProa" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Demanda.DataInicial" class="control-label"></label>
                <input asp-for="Demanda.DataInicial" class="form-control" />
                <span asp-validation-for="Demanda.DataInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demanda.Prazo" class="control-label"></label>
                <input asp-for="Demanda.Prazo" class="form-control" />
                <span asp-validation-for="Demanda.Prazo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demanda.DataFinal" class="control-label"></label>
                <input asp-for="Demanda.DataFinal" class="form-control" />
                <span asp-validation-for="Demanda.DataFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demanda.Status" class="control-label"></label>
                <input asp-for="Demanda.Status" class="form-control" />
                <span asp-validation-for="Demanda.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default"><span style="font-size:12px" class="glyphicon glyphicon-ok"></span>   Salvar</button>
                <a asp-action="Index"> Voltar para a Lista </a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

