@{
    ViewData["Title"] = "Contato";
}
<h3>@ViewData["Title"]</h3>
<h3>@ViewData["Message"]</h3>

<address>
    WebCode<br />
    Porto Alegre - RS<br />
    <abbr title="Phone">P: </abbr>
    55 51 99700-7208
</address>

<address>
    <strong>Support:</strong> <a href="mailto:claudirrogerio@gmail.com">claudirrogerio@gmail.com</a><br />    
</address>
