@{
    ViewData["Title"] = "Home";
}

<style>
    .glyphicon {
        font-size: 4em;
    }
</style>
<br />
<br />

<div class="container-fluid">
    <section id="sobre">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                
            </div>
        </div>
    </section>
</div>