@model WebCode.Models.Origem

@{
    ViewData["Title"] = "Exclusão da Origem";
}

<hr />

<h2>@ViewData["Title"]</h2>

<hr />

<h3>Você tem certeza que deseja excluir o registro?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> 
        <a asp-action="Index"> Voltar para a Lista </a>
    </form>
</div>
