@model WebCode.Models.Origem

@{
    ViewData["Title"] = "Exclusão da Origem";
}

<hr />

<h3>@ViewData["Title"]</h3>

<hr />

<h3>Você tem certeza que deseja excluir o registro?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"><span style="font-size:12px" class="glyphicon glyphicon-remove"></span>   Excluir</button>
        <a asp-action="Index"> Voltar para a Lista </a>
    </form>
</div>
